@font-face {
	font-family: 'OpenSans';
	src: url('./open-sans-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

.element {
	font-size: 125%;
	height: 100vh;
	background: url('./plaid.jpg');
	font-family: 'OpenSans';
}

img {
	max-width: 100%;
}

button {
	font-size: inherit;
	display: block;
}
